DB_HOST=postgres
DB_PORT=5432
POSTGRES_DB=lonely_eye
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

REDIS_HOST=redis
REDIS_PORT=6379

SERVICE_NAME=s3
AWS_ACCESS_KEY_ID=anything
AWS_SECRET_ACCESS_KEY=anything
ENDPOINT_URL=https://storage.yandexcloud.net
